<h1 class="title">Contextual State Demo</h1>
<div class="navbar" style="margin: 1rem;">
  <a routerLinkActive="active" [routerLink]="'/single-shot'" style="margin-right: 1rem;">single shot</a>
  <a routerLinkActive="active" [routerLink]="'/stream'" style="margin-right: 1rem;">multi shot</a>
  <a routerLinkActive="active" [routerLink]="'/search'" style="margin-right: 1rem;">search</a>
  <a routerLinkActive="active" [routerLink]="'/context-trigger'">context trigger</a>
</div>
<div style="padding: 1rem">
  <router-outlet></router-outlet>
</div>
