<h1 class="title">Contextual State Demo</h1>
<div class="demo-panel">
  <div class="panel-group">
    <h3>State</h3>
    <div class="btn-group">
      <button class="btn" (click)="reset()">↻ reset</button>
      <button class="btn" (click)="showError()">x error</button>
      <button class="btn" (click)="stop()">✓ complete</button>
    </div>
  </div>
  <div class="panel-group">
    <h3>Triggers</h3>
    <div class="btn-group">
      <button class="btn" (click)="triggerSuspense()">↻ suspense</button>
      <button class="btn" (click)="triggerError()">x error</button>
      <button class="btn" (click)="triggerComplete()">✓ complete</button>
    </div>
  </div>
</div>
<div class="search-bar">
  <button
    type="submit"
    class="magnifier-button"
    aria-label="Search for a movie"
  >
    <img src="/assets/search.svg" width="20" height="20">
  </button>
  <input #searchInput class="search-input" placeholder="Search" (input)="search(searchInput.value)">
</div>
<!-- error template -->
<ng-template #error>
  <div class="error context">
    <img
      width="32"
      height="32"
      src="/assets/sad.svg" alt=""><strong>We experienced an error</strong>
  </div>
</ng-template>

<!-- suspense template -->
<ng-template #loader>
  <div class="loader"></div>
</ng-template>

<!-- complete template -->
<ng-template #complete>
  <div class="complete context">stream completed ✓</div>
</ng-template>

<!-- stage 3: async -->
<div class="movie-list" *ngIf="searchState$ | async as state; else: loader">

  <!--<ng-container *ngIf="state.error; then: error"></ng-container>-->

  <movie-card
    *ngFor="let movie of state"
    [movie]="movie"
  >
  </movie-card>

</div>

<!-- stage 2: rxLet final -->
<!--
<div
  class="movie-list"
  *rxLet="
    streamedState$;
    let c = $complete;
    let movies;
    rxSuspense: loader;
    rxError: error;
  "
>
  <ng-container *ngIf="c; then complete"></ng-container>

  <movie-card *ngFor="let movie of movies" [movie]="movie">
  </movie-card>
</div>
-->

<!-- stage 2: async final -->
<!--<div
  class="movie-list"
  *ngIf="
    streamedState$ | async as state;
    else: loader
  "
>
  <ng-container *ngIf="state.error; then: error"></ng-container>
  <ng-container *ngIf="state.complete; then: complete"></ng-container>
  <movie-card *ngFor="let movie of state.movies" [movie]="movie">
  </movie-card>
</div>-->

<!-- stage 1: rxLet final -->
<!--
<div
  class="movie-list"
  *rxLet="
    state$;
    let c = $complete;
    let movies;
    rxSuspense: loader;
    rxError: error;
  "
>
  <ng-container *ngIf="c; then complete"></ng-container>

  <movie-card *ngFor="let movie of movies" [movie]="movie">
  </movie-card>
</div>
-->

<!-- stage 1: async final -->
<!--
<div class="movie-list" *ngIf="state$ | async as state; else: loader">

  <ng-container *ngIf="state.error; then: error"></ng-container>

  <movie-card
    *ngFor="let movie of state.movies"
    [movie]="movie"
  >
  </movie-card>

</div>
-->

<!-- start -->
<!--<div class="movie-list">
  <movie-card
    *ngFor="let movie of state$ | async"
    [movie]="movie"
  >
  </movie-card>
</div>-->

<!--<div class="movie-list"
     *rxLet="
       stateNew$;
       let movies;
       rxSuspense: loader;
       rxError: error;
  ">

  <movie-card
    *ngFor="let movie of movies"
    [movie]="movie"
  >
  </movie-card>

</div>-->

<!--<div class="movie-list" *ngIf="state$ | async as state">

  <ng-container *ngIf="!state.error; else: error">

    <ng-container *ngIf="!state?.loading; else: loader">

      <strong *ngIf="!state.movies?.length">
        Sorry, no movies available
      </strong>

      <movie-card
        *ngFor="let movie of state.movies"
        [movie]="movie"
      >
      </movie-card>
    </ng-container>

  </ng-container>

</div>-->
