<div class="demo-panel">
  <div class="panel-group">
    <h3>State</h3>
    <div class="btn-group">
      <button class="btn" (click)="reset()">↻ reset</button>
      <button class="btn" (click)="showError()">x error</button>
    </div>
  </div>
</div>
<h2>Search with intermediate suspense</h2>
<div class="search-bar">
  <button
    type="submit"
    class="magnifier-button"
    aria-label="Search for a movie"
  >
    <img src="/assets/search.svg" width="20" height="20" />
  </button>
  <input
    #searchInput
    class="search-input"
    placeholder="Search"
    (input)="search(searchInput.value)"
  />
</div>
<!-- error template -->
<ng-template #error>
  <div class="error context">
    <img width="32" height="32" src="/assets/sad.svg" alt="" /><strong
  >We experienced an error</strong
  >
  </div>
</ng-template>

<!-- suspense template -->
<ng-template #loader>
  <div class="loader"></div>
</ng-template>

<!-- stage 3: rxLet final -->
<!--<div
  class="movie-list"
  *rxLet="
    state$;
    let state;
    let s = suspense;
    error: error;
    suspenseTrigger: suspenseTrigger$;
  "
>
  <ng-container *ngIf="s; then: loader"></ng-container>

  <movie-card *ngFor="let movie of state" [movie]="movie"> </movie-card>
</div>-->

<!-- stage 2: async final -->
<!--<div class="movie-list"
     *ngIf="state$ | async as state;">

  <ng-container
    *ngIf="state.loading; then: loader"></ng-container>
  <ng-container
    *ngIf="state.error; then: error"></ng-container>

  <movie-card
    *ngFor="let movie of state.movies"
    [movie]="movie"
  >
  </movie-card>

</div>-->

<!-- async start -->
<div class="movie-list"
     *ngIf="state$ | async as state; else: loader">

  <ng-container *ngIf="state.error; then: error"></ng-container>

  <movie-card
    *ngFor="let movie of state.movies"
    [movie]="movie"
  >
  </movie-card>

</div>
